@import "_null";
@import url(https://fonts.googleapis.com/css?family=Roboto:300,regular,600,700,900&display:swap;);
//========================================================================================================================================================
@font-face {
   font-family: "JetBrains";
   src: url("../fonts/JetBrainsMono-Regular.woff2") format("woff2"),
      url("../fonts/JetBrainsMono-Regular.woff") format("woff");
   font-weight: normal;
   font-style: normal;
}
@font-face {
   font-family: "JetBrains";
   src: url("../fonts/JetBrainsMono-Bold.woff2") format("woff2"), url("../fonts/JetBrainsMono-Bold.woff") format("woff");
   font-weight: 700;
   font-style: normal;
}
//========================================================================================================================================================

body {
   font-family: "JetBrains", sans-serif;
   font-size: 14px;
   background-color: #1a1a1a;
   color: #000000;
}
//========================================================================================================================================================

.wrapper {
   display: flex;
   flex-direction: column;
   min-height: 100%;
   overflow: hidden;
   background: linear-gradient(310deg, rgba(22, 210, 255, 1) 24%, rgba(255, 228, 7, 1) 51%, rgba(23, 241, 50, 1) 100%);
}

[class*="__container"] {
   max-width: 1300px;
   margin: 0px auto;
   padding: 0px 15px;
}
//========================================================================================================================================================
._ibg {
   position: relative;
   img {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      object-fit: cover;
   }
}
//========================================================================================================================================================
.south-america {
   padding: 50px;
   @media (max-width: 991.98px) {
      padding: 30px;
   }
   @media (max-width: 767.98px) {
      padding: 0;
   }
   // .south-america__container
   &__container {
   }
   // .south-america__title
   &__title {
      text-align: center;
      font-size: 40px;
      font-weight: 700;
      margin: 0px 0px 20px 0px;
   }
   // .south-america__subtitle
   &__subtitle {
      font-size: 30px;
      text-align: center;
      margin: 0px 0px 30px 0px;
      span {
         padding: 10px;
         display: inline-block;
         border: 5px double #00ffff;
         color: #fff;
         @media (max-width: 619px) {
            margin: 5px 0px 0px 0px;
         }
      }
   }
   // .south-america__items
   &__items {
      display: flex;
      margin: 0px -15px;
      flex-wrap: wrap;
      row-gap: 20px;
      margin: 0px 0px 40px 0px;
   }
   &__name {
      flex: 1 1 100%;
      text-align: center;
      font-size: 25px;
      line-height: 1.5;
      color: #fff;
      margin: 0px 0px 10px 0px;
      text-align: center;
      color: rgb(91, 91, 255);
      text-transform: uppercase;
      font-weight: 700;
      &_red {
         color: red;
      }
      &_green {
         color: rgb(22, 179, 22);
      }
      &_brown {
         color: #d2691e;
      }
      &_yellow {
         color: yellow;
      }
      &_orange {
         color: #ff6347;
      }
      &_black {
         color: #bcb6b6;
      }
      &_ice {
         color: #00ffff;
      }
      &_hot {
         color: #dc143c;
      }
   }
   // .south-america__item
   &__item {
      padding: 0px 15px;
      flex: 1 1 25%;
      min-width: 290px;
   }
}
.card {
   display: flex;
   flex-direction: column;
   height: 100%;
   border-radius: 40px;
   // .card__image
   &__image {
      flex: 0 0 240px;
      padding: 0px 0px 81.15% 0px;
      min-height: 200px;
      img {
         border-radius: 10px 10px 0 0;
      }
   }
   // .card__body
   &__body {
      display: flex;
      flex-direction: column;
      padding: 15px;
      background-color: rgba(244, 165, 96, 0.707);
      flex: 1 1 auto;
      border-radius: 0 0 10px 10px;
   }
   // .card__title
   &__title {
      font-size: 18px;
      font-weight: 700;
      margin: 0px 0px 5px 0px;
      line-height: 1.4;
      color: #fff8dc;
   }
   // .card__text
   &__text {
      font-size: 16px;
      line-height: 1.3;
      margin: 0px 0px 10px 0px;
      color: brown;
      text-transform: capitalize;
      flex: 1 1 auto;
   }
   // .card__weight
   &__weight {
      font-size: 14px;
      font-weight: 700;
      align-self: flex-end;
      color: #4b0082;
   }
}
